html {
  --color: rgb(248, 248, 250);
  --colorActive: rgb(139, 139, 243);
}
.nav {
  background-color: #171717;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  height: 50px;
}
.nav__list {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  transition: 0.2s 0.1s;
}

.list__element {
  box-sizing: border-box;
  padding: 0 20px;
  border-left: 1px solid var(--color);
  border-bottom: 3px solid black;
  transition: 0.4s;
  background-color: #171717;
}
.list__element:last-child {
  border-right: 1px solid var(--color);
}
.list__item {
  color: var(--color);
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.4s;
}
.list__element:hover {
  border-bottom: 3px solid var(--colorActive);
  cursor: pointer;
}
.list__element:hover .list__item {
  color: var(--colorActive);
}
.list__item--active {
  color: var(--colorActive);
}
.searchBar {
  padding: 0 20px;
}
.searchBar__input {
  font-size: 16px;
  border: 2px solid var(--colorActive);
}
.searchBar__input::placeholder {
  color: var(--colorActive);
  opacity: 0.6;
  padding: 0 5px;
}
.underNavText {
  padding: 40px 0;
  height: 20px;
  color: black;
  text-align: center;
  opacity: 0;
  transition: all 0.7;
}
.underNavText--active {
  animation: show 2s linear forwards;
}

.underNavText__name {
  height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--colorActive);
}
.btn {
  padding: 2px 10px;
  background-color: var(--color);
  border: 2px solid var(--colorActive);
  margin-left: 10px;
  box-sizing: border-box;
  color: var(--colorActive);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--colorActive);
  color: var(--color);
  border-color: var(--color);
}
.hamburger {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  justify-content: space-between;
}
.hamburgerLine {
  width: 100%;
  height: 4px;
  background-color: white;
  z-index: 1;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media all and (max-width: 630px) {
  .nav {
    position: relative;
    overflow: hidden;
    transition: 0.4s;
  }
  .nav--active {
    height: 260px;
  }
  .nav__list {
    flex-direction: column;
    overflow: hidden;
    position: absolute;

    right: -100%;
  }
  .list__element {
    width: 100%;
    border-left: none;
  }
  .list__element:last-child {
    border-right: none;
  }
  .nav__list--active {
    top: 50px;
    right: 0px;
    width: 100%;
    text-align: center;
  }
  /* .nav__item {
    position: absolute;
    top: 0;
    right: -200%;
  } */
  .hamburger {
    display: flex;
    flex-direction: column;
  }
}
