* {
  margin: 0;
  padding: 0;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
section {
  flex-grow: 1;
}
header {
  height: 30vh;
  background-image: url(../components/pic/content_1.jpg);
  background-size: cover;
  background-position: center 350px;
}
